@font-face {
    font-family: 'Workbench-Regular';
    src: url('app_one/static/src/fonts/Workbench-Regular.ttf')
}
@font-face {
    font-family: 'Workbench-Regular-VariableFont_BLED,SCAN.ttf';
    src: url('app_one/static/src/fonts/Workbench-Regular-VariableFont_BLED,SCAN.ttf')
}


